* {
    margin: 0;
    font-family: 'Poppins';
}
.body {
    
}

/* banner and about */
.top-banner {
    padding: 50px;
    background-color: rgb(219, 250, 255);
    display: flex;
    justify-content: space-around;
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
}
.banner-left, .about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name, .exp-title {
    color: rgb(0, 225, 255);
}
.title, .time {
    margin: 10px 0px;
}
.hire-btn, .resume-btn {
    border: none;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 255, 234));
    border-radius: 5px;
    font-weight: 700;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.banner-img, .about-img {
    width: 400px;
}

.about-sec {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/awrw.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* experience */
.experience-sec {
    padding: 50px;
    background-color: rgb(219, 250, 255);
    justify-content: center;
    background-image: url(../img/IMG_20210417_s172837.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-y: center;
}
.experiences {
    display: flex;
    justify-content: center;
}
.experience {
    width: 45%;
    padding: 50px;
    margin: 50px;
    box-shadow: 0px 10px 50px rgb(122, 122, 122);
}
#exp-left {
    border-left: 10px solid;
    border-image: linear-gradient(rgb(255, 0, 0), rgb(255, 208, 0));
    border-image-slice: 1;
}
#exp-right {
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0, 255, 21), rgb(255, 208, 0));
    border-image-slice: 1;
}

footer {
    background-image: url(../img/expaa-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
footer p {
    padding: 42px 0;
    text-align: center;
