* {
    margin: 0;
    font-family: 'Poppins';
}
.body {
    
}

/* banner and about */
.top-banner {
    padding: 50px;
    background-color: rgb(219, 250, 255);
    display: flex;
    justify-content: space-around;
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
}
.banner-left, .about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}