* {
    margin: 0;
    font-family: 'Poppins';
}
.body {
    
}

/* banner and about */
.top-banner {
    padding: 50px;
    background-color: rgb(219, 250, 255);
    display: flex;
    justify-content: space-around;
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
}
.banner-left, .about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name, .exp-title {
    color: rgb(0, 225, 255);
}
.title, .time {
    margin: 10px 0px;
}
.hire-btn, .resume-btn {
    border: none;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 255, 234));
    border-radius: 5px;
    font-weight: 700;